body {
  font: 20px Futura, sans-serif;
  margin: 20px;
  font-weight: 300;
  color: gray;
}

ol,
ul {
  padding-left: 0;
  margin-top: .25rem;
}

li {
  vertical-align: middle;
  list-style: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  font-size: 1rem;
}

.currentStep {
  background: #2098D1;
  color: white
}

button {
  padding: 5px;
  margin: 5px;
  border: none;
  font-size: .75rem;
  font-weight: 300;
  color: #2098D1;
  background: white;
  display: inline-block;
  vertical-align: middle;
}

.btn-underline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.btn-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn-underline:hover:before,
.btn-underline:focus:before,
.btn-underline:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 36px;
  font-weight: bold;
  line-height: 88px;
  height: 88px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 88px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
