body {
  font: 20px 'Helvetica Neue',
  Helvetica,
  Arial,
  sans-serif;
  ;
  margin: 20px;
  font-weight: 300;
  color: gray;
}

ol,
ul {
  padding-left: 0;
  margin: 0;
}

li {
  vertical-align: middle;
  list-style: none;
}

.status {
  font-size: 1rem;
}

.currentStep {
  background: #2098D1;
  color: white
}

button {
  border: none;
  font-size: .75rem;
  font-weight: 300;
  color: #2098D1;
  background: white;
  display: inline-block;
  padding: 2px 6px 3px;
  vertical-align: middle;
 -webkit-text-rendering: optimizeLegibility;
 -moz-text-rendering: optimizeLegibility;
 text-rendering: optimizeLegibility;
}

.btn-underline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.btn-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn-underline:hover:before,
.btn-underline:focus:before,
.btn-underline:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.restart {
  display: block;
  padding: 5px;
  color: white;
  background:goldenrod;
  margin-bottom: 15px;
}

.status {
  margin-bottom: 15px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 36px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  align-self: flex-start;
}

.square.winner {
  animation: 1s infinite pulse;
  background : #2098D1;
  color: white;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}


.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.game-info {
  margin-left: 20px;
}

.game-board {
  margin-top: 2px;
  width: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
